@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto+Mono:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: #999;
  color: #111;
  text-align: center;
  background: radial-gradient(rgba(151, 151, 151, 0.5),
  rgba(255, 255, 255, 0.5)), url(./images/sw-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.App{
  width: 960px;
  margin: 0 auto;
}
h1{
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}
button{
  margin: 0 10px;
  font-family: 'Roboto Mono', monospace;
  background: transparent;
  border: 3px solid #333;
  border-radius: 20px;
  padding: 10px;
  color: #333;
  background-color: rgba(129, 129, 129, 0.5);
  font-size: 1.2em;
  cursor: pointer;
}
button:hover{
  color: #000;
  border-color: #000;;
}
button:disabled{
  opacity: 0.2;
  cursor: default;
}
span{
  font-size: 2em;
}
.content{
  text-align: left;
}

.card{
  padding: 8px 16px;
  background: rgba(28, 28, 28, 0.8);
  margin: 16px 0;
  border-radius: 20px;
}

.card p{
  margin: 6px 0;
  color: #999;
}
.card h3{
  margin: 10px 0;
  color: #ffff53
}
